---
title: Welcome to Studio Scott
---

%a{ :href => photos.first.path, :class => "gallery", :rel => "gal1" }
  %img{ :src => photos.first.path(:rep => :thumbnail), :class => "right flow" }

%p
  Artist Alison Scott makes luxurious, beautiful textiles for the home. Her
  hand-made cashmere throws, blankets and cushion covers combine glorious
  colours with indulgent textures.

%p
  Created from upcycled cashmere garments, many of her pieces hint at their
  previous lives through the inclusion of a collar or pocket.

%p
  Every piece is unique, designed and made by Alison in her studio in Le
  Marche, Italy.

%p
  The perfect wedding gift or house-warming present, or a treat for your own
  home.

- photos.drop(1).each do |img|
  %a{ :href => img.path, :class => "gallery", :rel => "gal1" }
    %img{ :src => img.path(:rep => :thumbnail), :class => "gallery" }
