---
title: Casa Uno
---

%a{ :href => photos.first.path, :class => "gallery", :rel => "gal1" }
  %img{ :src => photos.first.path(:rep => :thumbnail), :class => "right flow" }

:markdown
  A warm welcome awaits you in this beautiful art-filled B&B in the heart of
  Le Marche.

  Set amid rolling hills, Casa Uno is a beautifully renovated farmhouse
  offering unique accomodation for individuals, couples or groups of up to 9
  people. Each of the timber-ceilinged rooms has its own modern en suite.
  There are 2 double bedrooms, 1 twin,  and 1 room with a double bed and a
  single bed. Your host, Alison, has brought her artist's eye to the
  decoration of the whole house, which is full of wonderful art and textiles.
  A delicious breakfast, with homemade bread and jam and fresh seasonal fruit
  is included.

  Casa Uno is the perfect base for exploring Le Marche and discovering its
  treasures: scenic, cultural and gastronomic.

- photos.drop(1).each do |img|
  %a{ :href => img.path, :class => "gallery", :rel => "gal1" }
    %img{ :src => img.path(:rep => :thumbnail), :class => "gallery" }
